aiohttp
apispec
apispec-webframeworks
astropy
astroquery
bcrypt
click
datamodel-code-generator
jinja2
marshmallow
mypy
mkdocs
mkdocs-material
mkdocs-swagger-ui-tag
mkdocs-section-index
pandas
pandas-stubs
parameterized
psycopg[binary,pool]
pytest
pyyaml
redis
requests
ruff
rq
setuptools
structlog
swagger-ui-py
testcontainers-postgres
testcontainers-redis
types-psycopg2
types-pyyaml