aiohttp
aiohttp_apispec
astropy
astroquery
black
click
isort
jinja2
marshmallow
mypy
mkdocs
mkdocs-i18n
mkdocs-material
pandas
pandas-stubs
parameterized
psycopg[binary,pool]
pylint
pytest
pyyaml
redis
requests
ruff
rq
setuptools
structlog
testcontainers-postgres
testcontainers-redis
types-psycopg2
types-pyyaml