name: Release image

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build Docker image
        run: |
          GIT_VERSION=$(git rev-parse --short HEAD)
          docker build . -t ghcr.io/hyperleda/hyperleda:$GIT_VERSION
          docker save ghcr.io/hyperleda/hyperleda:$GIT_VERSION -o hyperleda_image.tar

      - name: Upload Docker image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: hyperleda_image
          path: hyperleda_image.tar

  push-docker:
    name: Push Docker image to GitHub Packages
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: hyperleda_image
          path: .

      - name: Load Docker image
        run: docker load -i hyperleda_image.tar

      - name: Push Docker image to GitHub Packages
        run: |
          GIT_VERSION=$(git rev-parse --short HEAD)
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/hyperleda/hyperleda:$GIT_VERSION
          docker tag ghcr.io/hyperleda/hyperleda:$GIT_VERSION ghcr.io/hyperleda/hyperleda:latest
          docker push ghcr.io/hyperleda/hyperleda:latest
