name: Testing
on:
  - push

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Check that code is formatted correctly and does not contain smells or potential bugs
        run: |
          make check

      - name: Run tests
        run: |
          make test-all
